@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    background: #10092c;
    overscroll-behavior: none;
    font-family: 'Inter', sans-serif;
}

.header{
    padding: 4em;
    opacity: 0.75;
}

.header h1{
width: 60%;
background: #cfcfcf;
background: -o-linear-gradient(to top, #cfcfcf, #ffffff 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: 500;
font-size: 80px;
letter-spacing: -0.05em;
line-height: 1;
}

button{
    margin: 3em 0;
    padding: 1em 1.5em;
}